<div
  class="hidden sm:flex relative text-[#FFF9EC] py-2 px-2 rounded-full border-2 border-[#8DA9C4]/30 justify-between items-center h-16 w-full z-100"
  style="
    background: linear-gradient(
      83deg,
      rgba(19, 64, 116, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  "
>
  <span class="text-3xl font-bold px-2 hidden md:block">UPRIME</span>
  <div class="flex">
    <a
      routerLink="/"
      class="px-4 py-2 rounded-md hover:bg-[#FFF9EC] hover:text-black transition-colors duration-200 cursor-pointer"
      >Home</a
    >
    <a
      routerLink="/about"
      class="px-4 py-2 rounded-md hover:bg-[#FFF9EC] hover:text-black transition-colors duration-200 cursor-pointer"
      >About</a
    >
    <a
      routerLink="/service"
      class="px-4 py-2 rounded-md hover:bg-[#FFF9EC] hover:text-black transition-colors duration-200 cursor-pointer"
      >Service</a
    >
    <a
      routerLink="/work"
      class="px-4 py-2 rounded-md hover:bg-[#FFF9EC] hover:text-black transition-colors duration-200 cursor-pointer"
      >Work</a
    >
    <a
      routerLink="/faqs"
      class="px-4 py-2 rounded-md hover:bg-[#FFF9EC] hover:text-black transition-colors duration-200 cursor-pointer"
      >FAQs</a
    >
  </div>
  <button
    class="h-full rounded-full px-4 font-bold bg-[#EEF4ED] text-[#0B2545] hover:bg-[#0B2545] hover:text-[#FFF9EC] transition-colors duration-200"
  >
    Contact Us
  </button>
</div>
